tensorflow
keras
pandas
numpy
jupyter
notebook
tqdm
opencv-contrib-python


images                       labels
images/angra/sachith.png     angry
images/angry/s.png           angry
images/sad/sachi.png         sad
images/sad/sachith.png       sad

load_img(img,grayscale=True)
